.contact-title {
    background: linear-gradient(rgba(237, 150, 150, 0.5), rgba(47, 43, 43, 0.5)),
    url("../../public/assets/contact.avif");
    background-size: cover;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.contact-title h2 {
    padding-top: 130px;
    margin-bottom: 50px;
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
  }
  
.contact-title p {
    margin: 0 100px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 130px;
}

.message h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    color: rgb(248, 105, 53);
    letter-spacing: 2px;
    text-align: center;
}

.c-form {
    width: 50%;
    margin-top: 80px;
    margin-left: 400px;
    margin-bottom: 70px;
    border: 3px solid orange;
    border-radius: 20px;
}

.contactForm {
   text-align: center;
   margin-top: 10px;
   margin-left: 150px;
   margin-bottom: 10px;
   padding: 20px;
   width: 60%;
  
}

.inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span {
    color: #202650;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputbox input[type="submit"] {
    width: 100px;
    background: orange;
    color: #fff;
    border: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;
}

.detail{
font-size: medium;
}